In [96]:
import pandas as pd

In [97]:
import os
import sys
notebook_dir = os.path.abspath('')
sys.path.append(os.path.dirname(notebook_dir))
import eda_utils

In [93]:
# Load data
file_path = '../../dataset/benin-malanville.csv'  # Provide the path to your dataset
data = pd.read_csv(file_path, index_col=False)
data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [95]:
data = data.reset_index(drop=True)
data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [22]:
# Basic info
eda_utils.basic_info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB
None

In [33]:
summary_stats = eda_utils.calculate_summary_stats(data)
print(summary_stats)  # Print the summary statistics

                         GHI            DNI            DHI           ModA  \
count          525600.000000  525600.000000  525600.000000  525600.000000
mean              240.559452     167.187516     115.358961     236.589496
std               331.131327     261.710501     158.691074     326.894859
min               -12.900000      -7.800000     -12.600000       0.000000
25%                -2.000000      -0.500000      -2.100000       0.000000
...                      ...            ...            ...            ...
Cleaning                 NaN            NaN            NaN            NaN
Precipitation            NaN            NaN            NaN            NaN
TModA                    NaN            NaN            NaN            NaN
TModB                    NaN            NaN            NaN            NaN
Comments                 NaN            NaN            NaN            NaN

                        ModB           Tamb             RH             WS  \
count          525600.000000  525600.000000  525600.000000  525600.000000
mean              228.883576      28.179683      54.487969       2.121113
std               316.536515       5.924297      28.073069       1.603466
min                 0.000000      11.000000       2.100000       0.000000
25%                 0.000000      24.200000      28.800000       1.000000
...                      ...            ...            ...            ...
Cleaning                 NaN            NaN            NaN            NaN
Precipitation            NaN            NaN            NaN            NaN
TModA                    NaN            NaN            NaN            NaN
TModB                    NaN            NaN            NaN            NaN
Comments                 NaN            NaN            NaN            NaN

                      WSgust        WSstdev             WD        WDstdev  \
count          525600.000000  525600.000000  525600.000000  525600.000000
mean                2.809195       0.473390     153.435172       8.582407
std                 2.029120       0.273395     102.332842       6.385864
min                 0.000000       0.000000       0.000000       0.000000
25%                 1.300000       0.400000      59.000000       3.700000
...                      ...            ...            ...            ...
Cleaning                 NaN            NaN            NaN            NaN
Precipitation            NaN            NaN            NaN            NaN
TModA                    NaN            NaN            NaN            NaN
TModB                    NaN            NaN            NaN            NaN
Comments                 NaN            NaN            NaN            NaN

                          BP       Cleaning  Precipitation          TModA  \
count          525600.000000  525600.000000  525600.000000  525600.000000
mean              994.197199       0.000923       0.001905      35.246026
std                 2.474993       0.030363       0.037115      14.807258
min               985.000000       0.000000       0.000000       9.000000
25%               993.000000       0.000000       0.000000      24.200000
...                      ...            ...            ...            ...
Cleaning                 NaN            NaN            NaN            NaN
Precipitation            NaN            NaN            NaN            NaN
TModA                    NaN            NaN            NaN            NaN
TModB                    NaN            NaN            NaN            NaN
Comments                 NaN            NaN            NaN            NaN

                       TModB  Comments            0
count          525600.000000       0.0          NaN
mean               32.471736       NaN          NaN
std                12.348743       NaN          NaN
min                 8.100000       NaN          NaN
25%                23.600000       NaN          NaN
...                      ...       ...          ...
Cleaning                 NaN       NaN  1078.722537
Precipitation            NaN       NaN  1518.289300
TModA                    NaN       NaN    -0.581054
TModB                    NaN       NaN    -0.443101
Comments                 NaN       NaN          NaN

[80 rows x 19 columns]

In [34]:
import pandas as pd

def load_data(file_path):
    """Load data from a CSV file."""
    return pd.read_csv('../../dataset/benin-malanville.csv')

def basic_info(data):
    """Print basic information about the DataFrame."""
    print("Basic Information:")
    display(data.info())

def calculate_summary_stats(data):
    """Calculate summary statistics for each numeric column."""
    print("Summary Statistics:")
    
    # Calculate summary statistics
    summary_stats = data.describe()
    
    # Calculate median
    median = data.median(numeric_only=True)
    median.name = 'median'
    
    # Calculate standard deviation
    std = data.std(numeric_only=True)
    std.name = 'std'
    
    # Calculate skewness
    skew = data.skew(numeric_only=True)
    skew.name = 'skew'
    
    # Calculate kurtosis
    kurtosis = data.kurt(numeric_only=True)
    kurtosis.name = 'kurtosis'
    
    # Concatenate summary statistics
    summary_stats = pd.concat([summary_stats, median, std, skew, kurtosis], axis=0)
    
    # Format the output
    summary_stats = summary_stats.rename({
        "50%": "median",
        "std": "standard deviation",
        "skew": "skewness",
        "kurtosis": "kurtosis"
    })
    
    return summary_stats

In [37]:
import pandas as pd
data = pd.read_csv('../../dataset/benin-malanville.csv')

In [38]:
data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [81]:
 # Reset index to exclude it from summary statistics
data.reset_index(drop=True, inplace=True)
data.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

In [82]:
data

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [90]:
 data_numeric = data.drop(data.columns[0], axis=1)

In [91]:
data_numeric

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [78]:
    # Create a list of summary statistics with descriptions
    summary_stats_list = [
        ('count', 'Number of non-null observations', summary_stats.loc['count']),
        ('mean', 'Mean of the values', summary_stats.loc['mean']),
        ('median', 'Median (50th percentile) of the values', median),
        ('standard deviation', 'Standard deviation of the values', std),
        ('skewness', 'Skewness of the distribution', skew),
        ('kurtosis', 'Kurtosis of the distribution', kurtosis)
    ]

In [79]:
 stat_descriptions = {
        'Count': 'Number of non-null observations',
        'Mean': 'Mean of the values',
        'Median': 'Median (50th percentile) of the values',
        'Standard Deviation': 'Standard deviation of the values',
        'Skewness': 'Skewness of the distribution',
        'Kurtosis': 'Kurtosis of the distribution'
    }

In [80]:
# Display the list
for stat, description, value in summary_stats_list:
    print(f"{description}:")
    print(value)

Number of non-null observations:
GHI              525600.0
DNI              525600.0
DHI              525600.0
ModA             525600.0
ModB             525600.0
Tamb             525600.0
RH               525600.0
WS               525600.0
WSgust           525600.0
WSstdev          525600.0
WD               525600.0
WDstdev          525600.0
BP               525600.0
Cleaning         525600.0
Precipitation    525600.0
TModA            525600.0
TModB            525600.0
Comments              0.0
0                     NaN
Name: count, dtype: float64
Mean of the values:
GHI              240.559452
DNI              167.187516
DHI              115.358961
ModA             236.589496
ModB             228.883576
Tamb              28.179683
RH                54.487969
WS                 2.121113
WSgust             2.809195
WSstdev            0.473390
WD               153.435172
WDstdev            8.582407
BP               994.197199
Cleaning           0.000923
Precipitation      0.001905
TModA             35.246026
TModB             32.471736
Comments                NaN
0                       NaN
Name: mean, dtype: float64
Median (50th percentile) of the values:
GHI                1.8
DNI               -0.1
DHI                1.6
ModA               4.5
ModB               4.3
Tamb              28.0
RH                55.1
WS                 1.9
WSgust             2.6
WSstdev            0.5
WD               181.0
WDstdev            8.6
BP               994.0
Cleaning           0.0
Precipitation      0.0
TModA             30.0
TModB             28.9
Comments           NaN
Name: median, dtype: float64
Standard deviation of the values:
GHI              331.131327
DNI              261.710501
DHI              158.691074
ModA             326.894859
ModB             316.536515
Tamb               5.924297
RH                28.073069
WS                 1.603466
WSgust             2.029120
WSstdev            0.273395
WD               102.332842
WDstdev            6.385864
BP                 2.474993
Cleaning           0.030363
Precipitation      0.037115
TModA             14.807258
TModB             12.348743
Comments                NaN
Name: std, dtype: float64
Skewness of the distribution:
GHI               1.028446
DNI               1.290260
DHI               1.210406
ModA              1.067416
ModB              1.076031
Tamb              0.000512
RH               -0.026653
WS                0.868406
WSgust            0.928908
WSstdev           0.695449
WD               -0.084974
WDstdev           1.070081
BP               -0.263995
Cleaning         32.874282
Precipitation    34.620445
TModA             0.677442
TModB             0.616822
Comments               NaN
Name: skew, dtype: float64
Kurtosis of the distribution:
GHI                -0.460184
DNI                 0.172956
DHI                 0.498993
ModA               -0.387674
ModB               -0.351332
Tamb               -0.444624
RH                 -1.298555
WS                  1.579008
WSgust              1.942468
WSstdev             3.348514
WD                 -1.255899
WDstdev             4.654392
BP                 -0.063902
Cleaning         1078.722537
Precipitation    1518.289300
TModA              -0.581054
TModB              -0.443101
Comments                 NaN
Name: kurtosis, dtype: float64